# Created by Jayesh J.

*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/.idea/
project/.idea_modules
project/.sbtserver
project/.sbtserver.lock
project/target/
target/
.scala_dependencies
.worksheet
.DS_Store
